{% if unpubbed %}
    <h2 class="header-card-dark">Pending Publication</h2>
    {% for story in unpubbed %}
    <div class="card card-dark pieces-row">
        {% if story.cover %}
            <div>
                <a target="__blank" href="{{story.piece_url}}">
                    <img src="{{story.cover.url}}" alt="Cover of {{story.published_in}}, {{story.issue}" class="piece-cover">
                </a>
            </div>
        {% endif %}
            <div class="pieces-list">
            <p class="pieces-p">
                <span class="piece-title">{{story.title}}. </span>
                <a href="{{story.piece_url}}" target="_blank">{{story.published_in}}, #{{story.issue}}</a>. Date pending. ({{story.word_count}} words.)
            </p>
            {% if story.cover %}
            <div class="mobile-cover">
                <a target="__blank" href="{{story.piece_url}}">
                    <img src="{{story.cover.url}}" alt="Cover of {{story.published_in}}, {{story.issue}" class="mobile-cover">
                </a>
            </div>
            {% endif %}
                <div class="piece-quote">
                    {{story.pull_quote}}
                </div>
                <div class="piece-tags">
                    {{story.tags}}
                </div>
                {% for review in reviews %}
                    {% if review.piece == story %}
                        <div>Reviews for this piece: {{review.pull_quote}}</div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
    {% endfor %}
{% endif %}
{% if pubbed %}
    <h2 class="header-card-dark">Published Pieces</h2>
        {% for story in pubbed %}
            <div class="card card-dark pieces-row">
                {% if story.cover %}
                    <div>
                        <a target="_blank" href="{{story.piece_url}}">
                            <img src="{{story.cover.url}}" alt="Cover of {{story.published_in}}, {{story.issue}" class="piece-cover">
                        </a>
                    </div>
                {% endif %}
                    <div class="pieces-list">
                    <p class="pieces-p">
                        <span class="piece-title">{{story.title}}. </span>
                        <a href="{{story.piece_url}}" target="_blank">{{story.published_in}}, #{{story.issue}}</a>. {{story.published_date}}. ({{story.word_count}} words.)
                    </p>
                    {% if story.cover %}
                    <div class="mobile-cover">
                        <a target="_blank" href="{{story.piece_url}}">
                            <img src="{{story.cover.url}}" alt="Cover of {{story.published_in}}, {{story.issue}" class="mobile-cover">
                        </a>
                    </div>
                    {% endif %}
                        <div class="piece-quote">
                            {{story.pull_quote}}
                        </div>
                        <div class="piece-tags">
                            {{story.tags}}
                        </div>
                        {% for review in reviews %}
                            {% if review.piece == story %}
                                <div class="short-review">Reviewed by {{review.author}}, <a href="{{review.review_url}}">{{review.review_venue}}</a>: "{{review.review_pull_quote}}"
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
        {% endfor %}
    {% endif %}
