{% extends "base.html" %}
{% block body_block %}
<h1>Testimonials</h1>
<div class="card testimonial">
    <h3>"Work with her, and level up."</h3>
    Maria is a brilliant editor. Her eye for prose is second to none--her own writing is full of jewel-sentences--and she is so good at helping you shave and slice and rework your own words until they're the best version of themselves.
    Even better is that working with her is like taking a craft class, combined with a therapy session, combined with a master course in contemporary literature. She can look straight into the heart of your book and see what you want it to be--even if it's not yet clear to you! And she walks you through how to understand the possibilities in your story and pull them out so they shine. Not to mention, the heart and care she brings to editing makes you feel instantly that you're in safe hands. Work with her, and level up.
    <blockquote class="attribution-top"><a href="https://ashleywinstead.com" target="_blank">Ashley Winstead</a>
    <blockquote class="attribution-bottom"></blockquote>Author of <span class="highlighter">IN MY DREAMS I HOLD A KNIFE</span><br>(Sourcebooks, 2021)</blockquote>
</div>
<div class="card testimonial">
    <h3>"There's no one I trust more with my work."</h3>
    Maria is my number one most valued critique partner, and there’s no one I trust more with my work. From helping me generate and shape ideas in their earliest form to hammering out a first draft outline to untangling thorny plot issues in revision, she is the first person I turn to for guidance and support. She has a keen eye for pacing, character consistency, and storytelling beats, but most importantly, she has an impeccable knowledge of how to get to the heart of a story and make sure that every choice you make as an author is in support of that underlying thesis.
    Maria's understanding of story at its fundamental level is almost mathematically precise, yet entirely adaptable to genre, age category, voice, and authorial style - in my experience, Maria has never met a manuscript she couldn’t help. Her feedback always challenges me to better articulate my themes, further explore my characters, and push myself to new heights as an author. My own work and career have benefited enormously from her help, and I would unreservedly recommend Maria’s editorial services to anyone seeking to improve their manuscript on any level.
    <blockquote class="attribution-top"><a href="https://avasreid.com/" target="_blank">Ava Reid</a></blockquote>
    <blockquote class="attribution-bottom">Author of <span class="highlighter">THE WOLF AND THE WOODSMAN</span><br> (Harper Voyager, 2021)</blockquote>
</div>
<div class="card testimonial">
    <h3>"Maria is a treasure."</h3>
    Maria is a gifted editor in all respects—copy editing, proofreading, and developmental editing, as well as query and pitch writing. She has expansive knowledge of the book industry and an uncanny instinct for finding the deeper thematic resonances in stories. And she works and processes incredibly fast! When I feel stuck about a character or plot line, she’s the first person I call; when I received an R&R on submission, Maria helped me find my way through adapting the editor's comments into a better, stronger manuscript that ultimately garnered significant interest from major publishers.
    I also value her sensitivity and awareness around the difficulties of writing as a marginalized person. When I discuss my book ideas or problems with her, I always feel I am getting valuable feedback, and from someone who reads extensively and knows the book market beyond the genre in which she chooses to write. Maria is wholly committed to the process and magic of writing, and sees every story as one she wishes to improve and bring to its own brilliance. That sort of generosity is hard to find in today’s more genre-centered book market; it’s clear that she simply loves books and reading, and for that reason alone, Maria is a treasure!
    <blockquote class="attribution-top"><a href="https://samantharajaram.com" target="_blank">Samantha Rajaram</a></blockquote>
    <blockquote class="attribution-bottom">Author of <span class="highlighter">THE COMPANY DAUGHTERS</span><br> (Bookouture, 2020)</blockquote>
</div>
<div class="card testimonial">
    <h3>"Truly changed the book for the better."</h3>
    "Maria quickly read my manuscript and dove right in, helping me uncover the places where it needed work. She provided an editorial eye that I was able to launch off of to create a far more polished manuscript. Maria's editorial hand is warm, thorough, and tuned in to the needs of the work and the core of what the author is creating. She wrote a long edit letter that gave me the clarity I was in need of, directing me through the next round of edits that truly changed the book for the better. Her work on developing a pitch that is concise, true, and intriguing was incredible, and I am so grateful to her for her editorial skills."
    <blockquote class="attribution-top"><a href="https://www.leilamottley.com/" target="_blank">Leila Mottley</a></blockquote>
    <blockquote class="attribution-bottom">Author of <span class="highlighter">NIGHTCRAWLING</span><br> (TBD, 2021)</blockquote>
</div>
<div class="card testimonial">
    <h3>"Such a great experience."</h3>
    I had such a great experience working with Maria on my manuscript. The critique and notes she provided were very helpful and inspiring. She not only pointed out areas I needed to work more on, but she also provided ideas on how to resolve the issues. This really helped me brainstorm on how to revise."
    <blockquote class="attribution-top"><a href="https://junehur.wordpress.com/" target="_blank">June Hur</a></blockquote>
    <blockquote class="attribution-bottom">Author of <span class="highlighter">THE SILENCE OF BONES</span><br> (Fiewell and Friends, 2020)</blockquote>
</div>
<div class="card testimonial">
    <h3>"Her skill as an editor will make any manuscript shine.</h3>
    "An outstanding writer in her own right, Maria has a knack for finding the thread of your story and helping you weave it throughout your manuscript. Whether it is huge developmental issues or minute line edits, Maria’s understanding of storytelling and her skill as an editor will make any manuscript shine.
    Working with Maria is like hiring an editor, an accomplished author, a sensitivity reader, and an industry professional all in one, giving your story the best chance of finding an agent, publisher, or indie market.
    <blockquote class="attribution-top"><a href="#" target="_blank">Jeff Wooten</a></blockquote>
    <blockquote class="attribution-bottom">Author of <span class="highlighter">KILL CALL</span> and 2018 Pitchwars Mentee<br></blockquote>
</div>
{% endblock %}