{% extends "base.html" %}
{% block body_block %}
{% load static %}
{% load custom_filters %}
<h1>About Maria</h1>
<div class="card photo-box card-dark">
    <img src="{% static 'images/author_photo.jpg' %}" alt="A black and white photo of Maria Dong" class="author-image">
</div>
<div class="card central-card card-dark">
    <p>
        A prolific writer of short fiction, articles, essays, and poetry, Maria's work has been published in
        or is forthcoming from
        {% for place in publisher_list %}
            {% if not forloop.last %}{{place}}, {% else %} 
            and {{place}}. {% endif %}
        {% endfor %}
    </p>
    <p>
        In her previous lives, Maria's held a variety of diverse careers, including
        property manager, English teacher, and occupational therapist; she's 
        currently a computer programmer. She lives with her partner a potato-dog in southwest Michigan, in a centenarian
        saltbox house that is almost certainly haunted. She loves a good K-Drama and Bell's beer.</p>
    <p>
    She is represented by <a href="https://www.dystel.com/amy-bishop" target="blank">Amy Bishop</a> at Dystel, Goderich & Bourret. 
    She can also be reached via twitter <a href="https://twitter.com/mariadongwrites?lang=en" target="_blank">
    @mariadongwrites</a> or via email with the <a href="{% url 'contact' %}">contact form</a>. If you'd like to be
    notified when new fiction is published, you can also sign up for the <a href="{% mailchimp_landing_link %}"
    target="blank">newsletter</a>.
    </p>
    <p>
    If you're a Black writer or community org that saw our tweet
    about writing, editing, and querying assistance, please click
    here to find out more about the <a href="{% url 'ubw' %}">Book
    Friend Project</a>.</p>
</div>
<div class="card card-dark">
    <h4><span class="highlighter">About This Website</span></h4>
    <p>This website was designed by <a href="https://www.mviolante.com" target="_blank">Maria Violante</a> and is powered by the Django web framework for Python. It has been styled with a custom theme, "Starry Dong." Source code is available on <a href="https://github.com/ViolanteCodes/starry_dong_django" target="_blank">Github</a>.</p>
</div>
{% endblock %}