{% extends "base.html" %}
{% block body_block %}
{% load static %}
<h1>About Maria</h1>
<div class="card centered-box">
    <img src="{% static 'images/author_photo.jpg' %}" alt="A black and white photo of Maria Dong" class="author-image">
</div>
<div class="card">
    Maria Dong's short 
    fiction has been published in a variety of magazines, including Augur, 
    Apparition Lit, and Fusion Fragment, among others.
    Her Korean mythology inspired fantasy novel, 
    BAD MOON CHILD, was featured in the 2018 Pitch Wars showcase.
</div>
<div class="card">
    She is represented by Amy Bishop at Dystel, Goderich & Bourret. 
    She can also be reached via twitter <a href="https://twitter.com/mariadongwrites?lang=en">
    @mariadongwrites</a> or via email at [maria at mariadong.com].
</div>
<div class="card">
    If you're a Black writer or community org that saw our tweet
    about writing, editing, and querying assistance, please click
    here to find out more about the <a href="{% url 'ubw' %}">Book
    Friend Project</a>.
</div>
{% endblock %}