{% load static %}
<!-- Load Custom Filters -->
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maria Dong, Author of Intriguing Fiction</title>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/2b2dcc1780.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block mailchimp %}{% endblock %}
</head>
<body>
    <svg id="fader" class="fade-out">
    </svg>
    <script>
        fadeInPage();
    </script>
    <div class="page-container">
        <nav id="slideout-menu" tabindex="0" aria-label="Mobile Menu">
            <ul>
                <li>
                    <a href="{% url 'publications' %}" tabindex="0">Words</a>
                </li>
                <li>
                    <a href="{% url 'press' %}" tabindex="0">Press</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" tabindex="0">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}" tabindex="0">Contact</a>
                </li>
                <li>
                    <a href="{% url 'post_list' %}" tabindex="0">Blog</a>
                </li>
                <li>
                    <a href="{% mailchimp_landing_link %}" target="_blank" tabindex="0">Newsletter</a>
                </li>
                <li>
                    <a href="{% url 'ubw' %}" tabindex="0" id="ubw" onkeydown="MenuOff()">Black Writers Project</a>
                </li>
            </ul>
        </nav>  
        <div class="header-box floating">
            <div id="menu-icon" class="header-font floating">
                <i class="fa fa-angle-double-down" tabindex="1" onclick="fadeMenu()" onkeydown="MenuOn()"></i>
            </div>
            <div class="header-font">
                <a href="{% url 'landing' %}" tabindex="-1">MARIA DONG</a>
            </div>
            <div class="sub-header">
                <a href="{% url 'publications' %}" tabindex="-1">Intriguing Fiction</a>
            </div>
            <div class="spacer"></div>
        </div>
        <nav class="menu-bar" aria-label="Full Width Menu" id="menu-bar">
            <ul>
                <li>
                    <a href="{% url 'publications' %}">Words</a>
                </li>
                <li>
                    <a href="{% url 'press' %}">Press</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'post_list' %}">Blog</a>
                </li>
            </ul>
        </nav>
        <main>
            <div></div>
            <div class="central-column floating">
                {% block body_block %}
                {% endblock %}
            </div>
            <div></div>
        </main>
        <footer>
            <ul id="footer-list"><li><a href="https://twitter.com/mariadongwrites" target="_blank"><i class="fa fa-twitter" id="twitter-icon"></i></a></li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-envelope" id="email-icon"></i></a></li>
            </ul>
        </footer>
    </div>
    <script src="{% static 'javascript/main.js' %}"></script>
  </body>
</html>