{% extends "base.html" %}
{% block body_block %}
    <h1>Edit Services</h1>
    <div class="central-card card-dark">
        <h2>Testimonial</h2>
        <div class="card">
            “Working with [Maria] is like taking a craft class combined with a therapy session … combined with a master course in contemporary literature.”</span></blockquote>
            <blockquote>Ashley Winstead, Author of IN MY DREAMS I HOLD A KNIFE (Sourcebooks, 2021).</blockquote>
            Click here to see more <a target=" _blank" href="{% url 'testimonial' %}">testimonials</a> (opens in a new window.)
        </div>
        <h2>Broad Strokes</h2>
        <div class="card">
            Maria works primarily with adult manuscripts in the following genres: 
            fantasy, science fiction, mystery, thriller/suspense, and historical.
            She's a strong believer in the “teach a person to fish” approach and 
            loves it when a client leverages their edits into becoming a better self-editor. 
            (In other words, she wants to work herself out of a job!)
        </div>
        <div class="card">
            She's primarily a developmental editor, which means tackling "big picture" problems, like:
            <ul>
                <li>Ensuring that your characters are complex, nuanced, and demonstrate strong agency;</li>
                <li>Making sure your plot has a logical structure that complements and challenges your 
                    characters;</li>
                <li>Strengthening pacing, so that readers don’t feel bored or overwhelmed;</li>
                <li>Helping you identify and pull forward the unifying themes of your novel.</li>
            </ul>
            She also loves line-editing, in which she focuses on helping you craft prose that is succinct, 
            exact, and beautiful.
        </div>
        <h2>Specialty Areas</h2>
        <div class="card">
            Maria has several key specializations, including:
        </div>
        <div class="card">
            <h3>Science, Medicine, and Allied Health:</h3>
            Maria is a licensed healthcare provider with an advanced degree focused on the 
            rehabilitation of musculoskeletal and neurological conditions. Need help figuring 
            out how fast that broken arm is going to heal? She's got your back.
        </div>
        <div class="card">
            <h3>Passion for Better Representation:</h3>
            Maria can help you improve the representation of under-served and marginalized groups 
            in your manuscript.
            Although no one person can serve as a comprehensive mouthpiece, 
            she's well-versed in academic and popular discussions surrounding representation in literature. 
            She combines this with her experiences as a multi-racial, multi-ethnic, queer, disabled woman 
            of color to help you make your manuscript more sensitive <i>and</i> original.
        </div>
        <div class="card">
            <h3>Industry Knowledge:</h3>
            Whether you are interested in traditional publishing or self-publishing–or even 
            some combination of the two!–-Maria can help.
            She's assisted several traditionally published authors at all stages 
            on their journeys, including outlining, drafting, querying, and with 
            revisions for agents and editors. She also has strong experience with 
            pitching contests, including PitchWars.
            She was also an early adopter of digital publishing technologies and 
            has helped shepherd several indie books to publication, including the launch 
            of a successful kickstarter, a feature in a storybundle, ebook formatting 
            and distribution through almost all major platforms, and print on demand (PoD) 
            formatting for Createspace and Ingram Spark.
        </div>
    </div>
{% endblock %}