{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block mailchimp %}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","{% mailchimp_integration_script %}");</script>
{% endblock %}
{% block body_block %}
    <div class="spacer desktop-only">
    </div>
    <div class="cover-box">
        <img src="https://www.mariadong.com/media/FF2-Cover.jpg" class="cover-image floating drop-shadow">
    </div>
    <div class="spacer desktop-only">
    </div>
    <div class="spacer desktop-only">
    </div>
    <div class="yellow-link desktop-only">
        <a href="{% url 'ubw' %}" class="yellow-link">Black Writers Project</a>
    </div>
    <div class="spacer desktop-only">
    </div>
{% endblock %}