{% extends "base.html" %}
{% block body_block %}
{% load static %}
    <div class="spacer desktop-only">
    </div>
    <div class="cover-box">
        <img src="{% static 'images/FF2-Cover.png' %}" class="cover-image floating drop-shadow">
    </div>
    <div class="spacer desktop-only">
    </div>
    <div class="spacer desktop-only">
    </div>
    <div class="yellow-link desktop-only">
        <a href="{% url 'ubw' %}" class="yellow-link">Black Writers Project</a>
    </div>
    <div class="spacer desktop-only">
    </div>
{% endblock %}