{% extends "base.html" %}
{% block body_block %}
    <h1 class="floating">Giving Back</h1>
    <div class="card card-dark">
        <p> Given publishing's history of tamping Black voices down, Maria Dong provides Black writers and community orgs with free assistance and mentorship with writing, editing, and website design.</p>
        <p>
           Although we recognize that publishing disadvantages all minorities, this project was 
            started as a direct response to several recent events, 
            both in the news and in publishing, that specifically further 
            marginalize Black voices, as well as to combat anti-Blackness 
            in my (Korean-American) community.</p>
        <p> If you're a Black writer or community org looking for assistance, 
            please read the information below.</p>
    </div>
    <h2 class="header-card-dark">Some Bookkeeping Details</h2>
    <div class="card card-dark">
        <p>
            We reply to all inquiries within one week. If you haven’t heard 
            back within one week of sending your email, please resend and 
            @ me on twitter to make sure I got it.
        </p>
        <p>
            If there’s somebody else attached to the project I think 
            would be better able to assist you, I’ll email offering to 
            make an introduction.
        </p>
        <p>
            Please be patient. Everybody attached to this project is donating
            their time and expertise around their day job. I'm personally 
            restricting myself to one big project a month, as each full
            developmental edit or website design can easily take 30+ hours.
        </p>
        <p>
            Please be considerate. If paying for professional editing or 
            web design is well within your means, I ask that you consider using 
            those funds to help uplift other minority creators. Artists deserve to get paid.
        </p>
    </div>
    <div class="card card-dark">
        <p>If all this sounds good to you, shoot us an email at [maria AT mariadong DOT com].
        </p>
    </div>
    </div>
{% endblock %}