{% extends "base.html" %}
{% block body_block %}
    <h1>Contact Maria Dong</h1>
    <div class="central-card card-dark">
        <p class="pieces-p annotation">You can use the contact form below to send Maria an email. You can also contact her via twitter 
            <a href="https://twitter.com/mariadongwrites" target="_blank">@mariadongwrites</a>, or for media inquiries, you can contact her agent, <a href="https://www.dystel.com/amy-bishop">Amy Bishop</a>.</p>
        <p></p>
            <h3><span class="highlighter">Contact Form</span></h3>
        <form method="post">
        {% csrf_token %}
        <div class="fieldwrapper email-card">
            {{form.sender_name.errors}}
            <label for "{{form.sender_name.id_for_label}}">Please enter your name.</label>
            <p>{{form.sender_name}}</p>
        </div>
        <div class="fieldwrapper email-card">
            {{form.sender_email.errors}}
            <label for "{{form.sender_email.id_for_label}}">Please enter your email address.</label>
            <p>{{form.sender_email}}</p>
        </div>
        <div class="fieldwrapper email-card">
            {{form.sender_subject.errors}}
            <label for "{{form.sender_subject.id_for_label}}">Please enter a subject.</label>
            <p>{{form.sender_subject}}</p>
        </div>
        <div class="fieldwrapper email-card">
            {{form.message.errors}}
            <label for "{{form.message.id_for_label}}">What is your message?</label>
            <p>{{form.message}}</p>
        </div>
        <div class="form-actions email-card">
        <button type="submit">Send</button>
        </div>
    </form>
    </div>
{% endblock %}