html {
    scroll-behavior: smooth;
}
body {
    background: #000000;
    color: #F4F4E8;
    font-size: 20px;
    margin: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('/static/images/dongbg.png');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
}
h1, h2 {
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color:#E060e5;
    text-transform: uppercase;
    background: rgba(0,0,0,0.75);
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
    color:#ccc88d;
}
h3 {
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color:#E060e5;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}
blockquote {
    margin-right: 10px;
}
ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.page-container {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: url(dongbg.png);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999; */
}
#slideout-menu {
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    z-index:100;
    position: fixed;
    top: 0;
    transition: 0.8s;
    margin-top: 60px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    opacity: 0;
    pointer-events: none;
}
#slideout-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0.3em 0 0.3em 0;
    margin: 0 0 10px 0;
    background:#461847;
    width:100vw;

}
#slideout-menu ul li {
    padding-left: 1.2em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
#slideout-menu a {
    color:#e7e7e6;
    text-decoration: none;
}
#slideout-menu a:active {
    color:#ccc88d;
}
#nav-logo {
    font-family: 'Coda Caption', sans-serif;
    font-size: 12px;
    background: -webkit-linear-gradient(#ccc88d, #d41dda);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu-icon {
    display: none;
    margin-top: none;
    margin-bottom: none;
}
.header-box {
    box-sizing:border-box;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.header-font {
    font-family: 'Coda Caption', sans-serif;
    font-size: 150px;
    padding: 0px;
    background: -webkit-linear-gradient(#ccc88d, #d41dda);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-font a{
    background: -webkit-linear-gradient(#ccc88d, #d41dda);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.sub-header {
    font-size: 35px;
    align-self: flex-start;
    display: none;
    line-height: 35px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background: #000000;
}
.sub-header a {
    text-decoration: none;
    color: #ccc88d;
}
.menu-bar {
    padding: 0 0 2% 0;
    margin-top:0;
}
nav {
    padding-top:0;
    padding-bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
    width: 1000px;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-bottom: 0;
}
nav li {
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.5s;
    border-radius: 10px;
}
nav li:hover {
    background: #ccc88d;
    border-radius: 10px;
}
nav li:hover a{
    color:#000000
}
nav a {
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color:#ccc88d;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}
nav a:hover {
    color: #000000;
    transition: ease;
    padding-left: 5px;
    padding-right: 5px;
}
main {
    display: flex;
    justify-content: center;
}
.central-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1000px;
    padding-right: 5%;
    padding-left: 5%;
}
.spacer {
    height: 5vh;
}
.cover-image {
    border-radius: 10px;
    max-width: 80vw;
    align-self: center;
}
.cover-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.drop-shadow {
    -webkit-box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.75);
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}
.yellow-link a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    background: rgba(0,0,0,0.7);
    color: #ccc88d;
    border-radius: 10px;
}
.yellow-link a:hover {
    background: #ccc88d;
    color:#000000;
    border-radius: 10px;
}
.writers-link {
    font-size: 40px;
}
.writers-link a{
    padding-left: 1em;
    padding-right: 1em;
}
.desktop-only {
    display: inline-block;
}
/*--Other Pages--*/
.card {
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 100%;
    padding: 1em;
    font-size: 30px;
    color: #F4F4E8;
    margin-bottom: 25px;
    -webkit-box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.3);
    line-height: 1.4em;
}
.card a {
    color: #E060e5;
}
.card a:visited {
    color: #E060e5;
}
.annotation {
    text-align: center;
    font-style: italic;
}
.piece-cover {
    max-width: 250px;
    float: left;
    display: inline-flex;
    padding-right: 10px;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}
.piece-cover:hover {
    transform: scale(2) translate(50px, 0);
}
.pieces-list {
    display: inline-flexbox;
    flex-direction: column;
    align-items: flex-start;
}
.piece-title {
    font-style: italic;
    color: #F4F4E8;
}
.piece-tags {
    padding-top: 0.5em; 
    color: #E060e5;
    align-self: center;
}
.piece-quote {
    font-style: italic;
    font-size: 25px;
    align-self: center;
    color: #ccc88d;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15px;
    line-height: 1.2em;
}
.testimonial {
    font-style: italic;
}
.attribution-top {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-family: 'Rajdhani', sans-serif;
}
.attribution-top a {
    color: #d41dda;
}
.attribution-top a:hover {
    color: #ccc88d;
}
.attribution-bottom {
    margin-top: .3em;
    margin-bottom: 0.5em;
}
.highlighter {
    background-color: rgba(212,29,218,0.2);
    color:#ccc88d;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
/*About Page CSS*/
.author-image {
    border-radius: 10px;
    max-width: 100%;
}
.centered-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer {
    font-size: 50px;
    transition: 0.4s;
    background-color: transparent;
    margin-top: 10px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}
footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
footer a {
    color:#e7e7e6;
}
footer li {
    padding: 0.5em;
}
#twitter-icon {
    color:rgba(0,0,0,0.8);
    position: relative;
    transition: 0.3s;
    filter:drop-shadow(5px 5px 10px #ccc88d);
    font-size: 60px;
}
#twitter-icon:hover {
    color:#ccc88d;
    transform: scale(1.3, 1.3);
}
#email-icon {
    color:rgba(0,0,0,0.8);
    position: relative;
    transition: 0.3s;
    filter:drop-shadow(5px 5px 10px #ccc88d);
}
#email-icon:hover {
    color:#ccc88d;
    transform: scale(1.3, 1.3);
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
/*------Fader animation for soft-load-----------*/
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: black;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}
@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}
/*--Breakpoints for Media Queries---*/
@media(max-width:1200px) {
    nav ul {
        width: 99vw;
    }   
    .header-font {
        font-size: 115px;
        padding: 0px;
        margin-bottom: 0px;
    }
}
@media(max-width: 950px) {
    .header-font {
        font-size: 95px;
    }
    nav ul {
        justify-content: space-around;
    }
}
@media(max-width: 750px) {
    .header-font {
        font-size: 80px;
    }
    .piece-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:600px) {
    h1 {
        margin-top: 0px;
        font-size: 40px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 25px;
    }
    nav {
        display:none;
    }
    footer {
        margin-top: 20px;
    }
    .card {
        font-size: 20px;
        line-height: 1.3em;
    }
    .page-container{
        padding: 0;
    }
    .header-box {
        width: 100%;
        margin: 0 0 0 0;
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-font {
        font-size: 100px;
        line-height: 100px;
        margin: 0px 10px 0px 10px;
    }
    .piece-cover {
        padding-bottom: 10px;
        border-radius: 10px;
        max-width: 150px;
    }
    .piece-quote {
        font-size: 20px;
    }
    #mobile-name {
        align-self: center;
    }
    #menu-icon {
        display: inline-block;
        align-self: flex-end;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 0px;
        line-height: 50px;
    }
    .cover-image {
        max-width: 60vw;
    }
    .sub-header {
        display: inline-block;
    }
    .writers-link {
        visibility: hidden;
    }
    .desktop-only {
        display: none;
    }
}
@media(max-width:450px) {
    h1 {
        font-size: 35px;
        padding-left: 5px;
        padding-right: 5px;
    }
    h2 {
        font-size: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
    h3 {
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .card {
        font-size: 20px;
    }
    .piece-quote {
        font-size: 16px;
    }
    .piece-cover {
        max-width: 100px;
    }
    .header-font {
        font-size: 70px;
        line-height: 70px;
    }
    .cover-image {
        max-width: 50vw;
    }
    #slideout-menu {
        font-size: 25px;
    }
}